Create page
<form ng-submit="vm.create()">
  <input type="text"  name="text" required placeholder="Title" ng-model="vm.event.title"><br>
  <input type="text" name="text" required placeholder="Location" ng-model="vm.event.location"><br>
  <textarea name="content" id="" cols="30" rows="10" placeholder="Please describe your event" ng-model="vm.event.content"></textarea><br>
  <input type="number" placeholder="How many volunteers you need" ng-model="vm.event.volunteers"><br>
  <input type="text" placeholder="Add tag" ng-model="vm.event.tags"><br>
  <input type="number" placeholder="Phone Number" ng-model="vm.event.phone"><br>
  <input type="text" placeholder="Address" ng-model="vm.event.address"><br>

  <input type="submit" id="submit" value="Create" />
  <!-- <pre>list={{list}}</pre> -->
</form>