<article role="article">
    <h2>Click link below to activate your account</h2>
    <%=title%>
    <br />
    <a href="http://localhost:8080/api/activate/<%= email %>/<%= emailcode %>">Activate Account</a>
</article>